In [92]:
import pandas as pd
from pathlib import Path

In [93]:
data = Path('shark_attacks_cleaned.csv')
df = pd.read_csv(data)
df.head()

,index,Date,Year,Type,Country,Area,Location,Activity,Gender,Age,Fatal,Time,href formula,ISO_code
0,0,9/10/21,2021,NaN,EGYPT,NaN,Sidi Abdel Rahmen,Swimming,M,0,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,EG
1,1,9/9/21,2021,Unprovoked,USA,Florida,"Ponce Inlet, Volusia County",Surfing and Other Board Sports,M,0,N,13:20:00,http://sharkattackfile.net/spreadsheets/pdf_di...,US
2,2,9/5/21,2021,Unprovoked,AUSTRALIA,New South Wales,Emerald Beach,Surfing and Other Board Sports,M,31,Y,10:30:00,http://sharkattackfile.net/spreadsheets/pdf_di...,AU
3,3,9/3/21,2021,Unprovoked,British Overseas Territory,Turks and Caicos,NaN,Other,M,0,N,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN
4,4,8/28/21,2021,Unprovoked,USA,Texas,"Galveston Island, Galveston County",Surfing and Other Board Sports,M,0,N,11:45:00,http://sharkattackfile.net/spreadsheets/pdf_di...,US

In [94]:
df = df.dropna()
df

,index,Date,Year,Type,Country,Area,Location,Activity,Gender,Age,Fatal,Time,href formula,ISO_code
1,1,9/9/21,2021,Unprovoked,USA,Florida,"Ponce Inlet, Volusia County",Surfing and Other Board Sports,M,0,N,13:20:00,http://sharkattackfile.net/spreadsheets/pdf_di...,US
2,2,9/5/21,2021,Unprovoked,AUSTRALIA,New South Wales,Emerald Beach,Surfing and Other Board Sports,M,31,Y,10:30:00,http://sharkattackfile.net/spreadsheets/pdf_di...,AU
4,4,8/28/21,2021,Unprovoked,USA,Texas,"Galveston Island, Galveston County",Surfing and Other Board Sports,M,0,N,11:45:00,http://sharkattackfile.net/spreadsheets/pdf_di...,US
5,5,9/3/21,2021,Unprovoked,USA,Louisiana,off Grand Isle,Fishing,M,64,N,14:00:00,http://sharkattackfile.net/spreadsheets/pdf_di...,US
6,6,8/21/21,2021,Unprovoked,USA,Florida,"Walton Beach Psrk, St. Lucie County",Surfing and Other Board Sports,M,41,N,6:40:00,http://sharkattackfile.net/spreadsheets/pdf_di...,US
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4469,4469,6/6/50,1950,Sea Disaster,USA,Florida,275 miles northeast of Miami,Sea Disaster,M,25,Y,9:00:00,http://sharkattackfile.net/spreadsheets/pdf_di...,US
4470,4470,5/24/50,1950,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,Port Edward,Other,M,27,N,10:30:00,http://sharkattackfile.net/spreadsheets/pdf_di...,ZA
4475,4475,3/8/50,1950,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,"North Beach, Durban",Other,M,20,Y,18:50:00,http://sharkattackfile.net/spreadsheets/pdf_di...,ZA
4477,4477,2/11/50,1950,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,"South Beach, Durban",Surfing and Other Board Sports,M,14,Y,14:30:00,http://sharkattackfile.net/spreadsheets/pdf_di...,ZA
4485,4485,1/1/50,1950,Unprovoked,PANAMA,Canal Zone,300 yards west of mouth of the Chagres River,Other,M,0,N,13:00:00,http://sharkattackfile.net/spreadsheets/pdf_di...,PA

In [95]:
df['Fatal'] = df['Fatal'].str.replace('UNKNOWN','0')
df['Fatal'] = df['Fatal'].str.replace('N','0')
df['Fatal'] = df['Fatal'].str.replace('Y','1')
df

,index,Date,Year,Type,Country,Area,Location,Activity,Gender,Age,Fatal,Time,href formula,ISO_code
1,1,9/9/21,2021,Unprovoked,USA,Florida,"Ponce Inlet, Volusia County",Surfing and Other Board Sports,M,0,0,13:20:00,http://sharkattackfile.net/spreadsheets/pdf_di...,US
2,2,9/5/21,2021,Unprovoked,AUSTRALIA,New South Wales,Emerald Beach,Surfing and Other Board Sports,M,31,1,10:30:00,http://sharkattackfile.net/spreadsheets/pdf_di...,AU
4,4,8/28/21,2021,Unprovoked,USA,Texas,"Galveston Island, Galveston County",Surfing and Other Board Sports,M,0,0,11:45:00,http://sharkattackfile.net/spreadsheets/pdf_di...,US
5,5,9/3/21,2021,Unprovoked,USA,Louisiana,off Grand Isle,Fishing,M,64,0,14:00:00,http://sharkattackfile.net/spreadsheets/pdf_di...,US
6,6,8/21/21,2021,Unprovoked,USA,Florida,"Walton Beach Psrk, St. Lucie County",Surfing and Other Board Sports,M,41,0,6:40:00,http://sharkattackfile.net/spreadsheets/pdf_di...,US
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4469,4469,6/6/50,1950,Sea Disaster,USA,Florida,275 miles northeast of Miami,Sea Disaster,M,25,1,9:00:00,http://sharkattackfile.net/spreadsheets/pdf_di...,US
4470,4470,5/24/50,1950,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,Port Edward,Other,M,27,0,10:30:00,http://sharkattackfile.net/spreadsheets/pdf_di...,ZA
4475,4475,3/8/50,1950,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,"North Beach, Durban",Other,M,20,1,18:50:00,http://sharkattackfile.net/spreadsheets/pdf_di...,ZA
4477,4477,2/11/50,1950,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,"South Beach, Durban",Surfing and Other Board Sports,M,14,1,14:30:00,http://sharkattackfile.net/spreadsheets/pdf_di...,ZA
4485,4485,1/1/50,1950,Unprovoked,PANAMA,Canal Zone,300 yards west of mouth of the Chagres River,Other,M,0,0,13:00:00,http://sharkattackfile.net/spreadsheets/pdf_di...,PA

In [96]:
X = pd.get_dummies(df, columns=['Date','Type','Country','Area','Location','Activity','Gender','Age'])
X = X.drop(columns=['Year','Fatal','Time','href formula','ISO_code'], axis=1)
y = df['Fatal']

In [97]:
X.describe()

,index,Date_1/1/02,Date_1/1/06,Date_1/1/50,Date_1/1/55,Date_1/1/58,Date_1/1/60,Date_1/1/61,Date_1/1/62,Date_1/1/66,...,Age_68,Age_69,Age_70,Age_71,Age_73,Age_74,Age_75,Age_77,Age_82,Age_86
count,2073.000000,2073.000000,2073.000000,2073.000000,2073.000000,2073.000000,2073.000000,2073.000000,2073.000000,2073.000000,...,2073.000000,2073.000000,2073.000000,2073.000000,2073.000000,2073.000000,2073.000000,2073.000000,2073.000000,2073.000000
mean,1904.237337,0.000482,0.000482,0.000482,0.000482,0.000482,0.000482,0.000482,0.000482,0.000482,...,0.002412,0.003859,0.001447,0.000965,0.001447,0.000965,0.000965,0.000482,0.000482,0.000482
std,1204.158046,0.021963,0.021963,0.021963,0.021963,0.021963,0.021963,0.021963,0.021963,0.021963,...,0.049064,0.062017,0.038023,0.031053,0.038023,0.031053,0.031053,0.021963,0.021963,0.021963
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,904.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1783.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,2807.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,4485.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [98]:
from sklearn import linear_model
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify=y)
X_train.shape

(1554, 3702)

In [99]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(solver='lbfgs',
                                max_iter=200,
                                random_state=1)
classifier

LogisticRegression(max_iter=200, random_state=1)

In [100]:
classifier.fit(X_train, y_train)

/Users/nicolefreeman/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/sklearn/linear_model/_logistic.py:765: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(max_iter=200, random_state=1)

In [101]:
predictions = classifier.predict(X_test)
pd.DataFrame({"Prediction": predictions, "Actual": y_test})

     Prediction Actual
3147          0      0
3270          0      0
3373          0      0
3222          0      1
3776          0      0
...         ...    ...
1511          0      0
2471          0      0
911           0      0
4058          0      0
1980          0      0

[519 rows x 2 columns]

In [102]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, predictions)

0.8651252408477842

In [103]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, predictions)

array([[440,  15],
       [ 55,   9]])

In [104]:
from imblearn.metrics import classification_report_imbalanced
print(classification_report_imbalanced(y_test, predictions))

                   pre       rec       spe        f1       geo       iba       sup

          0       0.89      0.97      0.14      0.93      0.37      0.15       455
          1       0.38      0.14      0.97      0.20      0.37      0.12        64

avg / total       0.83      0.87      0.24      0.84      0.37      0.14       519