In [48]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
import pandas as pd
import tensorflow as tf

#  Import and read the csv.
attacks_df = pd.read_csv("shark_attacks_cleaned.csv")
attacks_df.head()

,index,Date,Year,Type,Country,Area,Location,Activity,Gender,Age,Fatal,Time,href formula,ISO_code
0,0,9/10/21,2021,NaN,EGYPT,NaN,Sidi Abdel Rahmen,Swimming,M,0,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,EG
1,1,9/9/21,2021,Unprovoked,USA,Florida,"Ponce Inlet, Volusia County",Surfing and Other Board Sports,M,0,N,13:20:00,http://sharkattackfile.net/spreadsheets/pdf_di...,US
2,2,9/5/21,2021,Unprovoked,AUSTRALIA,New South Wales,Emerald Beach,Surfing and Other Board Sports,M,31,Y,10:30:00,http://sharkattackfile.net/spreadsheets/pdf_di...,AU
3,3,9/3/21,2021,Unprovoked,British Overseas Territory,Turks and Caicos,NaN,Other,M,0,N,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN
4,4,8/28/21,2021,Unprovoked,USA,Texas,"Galveston Island, Galveston County",Surfing and Other Board Sports,M,0,N,11:45:00,http://sharkattackfile.net/spreadsheets/pdf_di...,US

In [49]:
attacks_df.drop(['index', 'Date', 'Time', 'href formula', 'ISO_code'], axis=1, inplace=True)
attacks_df

,Year,Type,Country,Area,Location,Activity,Gender,Age,Fatal
0,2021,NaN,EGYPT,NaN,Sidi Abdel Rahmen,Swimming,M,0,NaN
1,2021,Unprovoked,USA,Florida,"Ponce Inlet, Volusia County",Surfing and Other Board Sports,M,0,N
2,2021,Unprovoked,AUSTRALIA,New South Wales,Emerald Beach,Surfing and Other Board Sports,M,31,Y
3,2021,Unprovoked,British Overseas Territory,Turks and Caicos,NaN,Other,M,0,N
4,2021,Unprovoked,USA,Texas,"Galveston Island, Galveston County",Surfing and Other Board Sports,M,0,N
...,...,...,...,...,...,...,...,...,...
4486,1950,Unprovoked,GREECE,NaN,"Piraeus, Athens",Swimming,NaN,0,Y
4487,1950,Unprovoked,SINGAPORE,Singapore Harbor,NaN,Diving,M,0,Y
4488,1950,Unprovoked,NEW CALEDONIA,North Province,"Voh, near meatworks",Fishing,M,0,N
4489,1950,Unprovoked,NEW CALEDONIA,North Province,Mangalia Reef above Touho,Diving,M,0,N
4490,1950,Unprovoked,FIJI,NaN,Near Lautoka,Other,M,0,N

In [50]:
attacks_df = attacks_df.dropna()
attacks_df

,Year,Type,Country,Area,Location,Activity,Gender,Age,Fatal
1,2021,Unprovoked,USA,Florida,"Ponce Inlet, Volusia County",Surfing and Other Board Sports,M,0,N
2,2021,Unprovoked,AUSTRALIA,New South Wales,Emerald Beach,Surfing and Other Board Sports,M,31,Y
4,2021,Unprovoked,USA,Texas,"Galveston Island, Galveston County",Surfing and Other Board Sports,M,0,N
5,2021,Unprovoked,USA,Louisiana,off Grand Isle,Fishing,M,64,N
6,2021,Unprovoked,USA,Florida,"Walton Beach Psrk, St. Lucie County",Surfing and Other Board Sports,M,41,N
...,...,...,...,...,...,...,...,...,...
4483,1950,Unprovoked,INDONESIA,Jakarta Harbour,On rock near Yacht Club,Other,M,0,Y
4484,1950,Unprovoked,USA,Florida,"Jacksonville Beach, Duval County",Other,M,0,N
4485,1950,Unprovoked,PANAMA,Canal Zone,300 yards west of mouth of the Chagres River,Other,M,0,N
4488,1950,Unprovoked,NEW CALEDONIA,North Province,"Voh, near meatworks",Fishing,M,0,N
4489,1950,Unprovoked,NEW CALEDONIA,North Province,Mangalia Reef above Touho,Diving,M,0,N

In [51]:
attacks_df['Fatal'] = attacks_df['Fatal'].str.replace('UNKNOWN','0')
attacks_df['Fatal'] = attacks_df['Fatal'].str.replace('N','0')
attacks_df['Fatal'] = attacks_df['Fatal'].str.replace('Y','1')
attacks_df

/Users/nicolefreeman/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/Users/nicolefreeman/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/nicolefreeman/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,Year,Type,Country,Area,Location,Activity,Gender,Age,Fatal
1,2021,Unprovoked,USA,Florida,"Ponce Inlet, Volusia County",Surfing and Other Board Sports,M,0,0
2,2021,Unprovoked,AUSTRALIA,New South Wales,Emerald Beach,Surfing and Other Board Sports,M,31,1
4,2021,Unprovoked,USA,Texas,"Galveston Island, Galveston County",Surfing and Other Board Sports,M,0,0
5,2021,Unprovoked,USA,Louisiana,off Grand Isle,Fishing,M,64,0
6,2021,Unprovoked,USA,Florida,"Walton Beach Psrk, St. Lucie County",Surfing and Other Board Sports,M,41,0
...,...,...,...,...,...,...,...,...,...
4483,1950,Unprovoked,INDONESIA,Jakarta Harbour,On rock near Yacht Club,Other,M,0,1
4484,1950,Unprovoked,USA,Florida,"Jacksonville Beach, Duval County",Other,M,0,0
4485,1950,Unprovoked,PANAMA,Canal Zone,300 yards west of mouth of the Chagres River,Other,M,0,0
4488,1950,Unprovoked,NEW CALEDONIA,North Province,"Voh, near meatworks",Fishing,M,0,0
4489,1950,Unprovoked,NEW CALEDONIA,North Province,Mangalia Reef above Touho,Diving,M,0,0

In [52]:
X = pd.get_dummies(attacks_df, columns=['Year','Type','Country','Area','Location','Activity','Gender','Age'])
y = attacks_df['Fatal']

In [53]:
from sklearn import linear_model
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify=y)
X_train.shape

(2844, 3438)

In [54]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(solver='lbfgs',
                                max_iter=2000,
                                random_state=1)
classifier

LogisticRegression(max_iter=2000, random_state=1)

In [55]:
classifier.fit(X_train, y_train)

LogisticRegression(max_iter=2000, random_state=1)

In [56]:
predictions = classifier.predict(X_test)
pd.DataFrame({"Prediction": predictions, "Actual": y_test})

     Prediction Actual
1870          0      0
2362          1      1
1864          0      0
4406          0      0
338           0      0
...         ...    ...
4353          0      0
1786          1      1
3409          0      0
618           0      0
867           0      0

[949 rows x 2 columns]

In [57]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, predictions)

1.0

In [58]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, predictions)

array([[821,   0],
       [  0, 128]])

In [59]:
from imblearn.metrics import classification_report_imbalanced
print(classification_report_imbalanced(y_test, predictions))

                   pre       rec       spe        f1       geo       iba       sup

          0       1.00      1.00      1.00      1.00      1.00      1.00       821
          1       1.00      1.00      1.00      1.00      1.00      1.00       128

avg / total       1.00      1.00      1.00      1.00      1.00      1.00       949

In [60]:
predictions = classifier.predict(X_train)
pd.DataFrame({"Prediction": predictions, "Actual": y_train})

     Prediction Actual
4121          0      0
1276          0      0
2889          0      0
2198          0      0
275           0      0
...         ...    ...
1945          0      0
4165          1      1
1118          0      0
1555          0      0
1712          0      0

[2844 rows x 2 columns]

In [61]:
from sklearn.metrics import accuracy_score
accuracy_score(y_train, predictions)

1.0

In [62]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_train, predictions)

array([[2461,    0],
       [   0,  383]])

In [63]:
from imblearn.metrics import classification_report_imbalanced
print(classification_report_imbalanced(y_train, predictions))

                   pre       rec       spe        f1       geo       iba       sup

          0       1.00      1.00      1.00      1.00      1.00      1.00      2461
          1       1.00      1.00      1.00      1.00      1.00      1.00       383

avg / total       1.00      1.00      1.00      1.00      1.00      1.00      2844